/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Global layout
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
  background-color: #faf9e6;
}

#libe-labo-app-wrapper {
  display: flex;
  justify-content: center;
}

.game-of-thrones {
  max-width: 40rem;
  height: 51rem;
  width: 100%;
  background-color: #FFFFFF;
}

.game-of-thrones__page-label {
  background: #E91845;
  padding: 1rem;
  width: 100%;
}

.game-of-thrones__page-label .lblb-paragraph,
.game-of-thrones__page-label .lblb-block-title h4 {
  color: #FFFFFF;
}

.game-of-thrones__page-label .lblb-paragraph {
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.game-of-thrones__page-label .lblb-block-title h4 {
  letter-spacing: .06rem;
  font-weight: 600;
}

/* States - default */
.game-of-thrones__vote-page {
  display: block;
}

.game-of-thrones__loading-page,
.game-of-thrones__error-page,
.game-of-thrones__results-page {
  display: none;
}

/* States - error */
.game-of-thrones.game-of-thrones_error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-of-thrones.game-of-thrones_error .game-of-thrones__error-page {
  display: block;
}

.game-of-thrones.game-of-thrones_error .game-of-thrones__loading-page,
.game-of-thrones.game-of-thrones_error .game-of-thrones__vote-page,
.game-of-thrones.game-of-thrones_error .game-of-thrones__results-page {
  display: none;
}

/* States - loading */
.game-of-thrones.game-of-thrones_loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-of-thrones.game-of-thrones_loading .game-of-thrones__loading-page {
  display: block;
}

.game-of-thrones.game-of-thrones_loading .game-of-thrones__error-page,
.game-of-thrones.game-of-thrones_loading .game-of-thrones__vote-page,
.game-of-thrones.game-of-thrones_loading .game-of-thrones__results-page {
  display: none;
}

/* States - results */
.game-of-thrones.game-of-thrones_results .game-of-thrones__results-page {
  display: block;
}

.game-of-thrones.game-of-thrones_results .game-of-thrones__error-page,
.game-of-thrones.game-of-thrones_results .game-of-thrones__vote-page,
.game-of-thrones.game-of-thrones_results .game-of-thrones__loading-page {
  display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Error page
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.game-of-thrones__error-page .lblb-paragraph {
  text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Loading page
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.game-of-thrones__loading-page .lblb-loader .lblb-svg,
.game-of-thrones__loading-page .lblb-loader .lblb-svg svg {
  width: 2rem;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Vote page
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.game-of-thrones__candidates-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

.game-of-thrones__candidates-block:hover .game-of-thrones__candidate {
  opacity: .8;
}

.game-of-thrones__candidates-block:hover .game-of-thrones__candidate:hover {
  opacity: 1;
}

.game-of-thrones__candidate {
  cursor: pointer;
  width: calc(25% - 1rem);
  height: 14rem;
  margin: .5rem;
  padding: .5rem;
  background-color: #FFFFFF;
  background-size: 100%;
  background-position: center 30%;
  transition: background-size 600ms, background-position 600ms, opacity 400ms;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.game-of-thrones__candidate:hover {
  background-size: 120%;
  background-position: center 20%;
}

.game-of-thrones__candidate .lblb-slug {
  align-self: center;
  text-align: center;
  background: #FFFFFF;
  color: #212121;
}

@media screen and (max-width: 35rem) {
  .game-of-thrones__candidate {
    width: calc(100% / 3);
    height: 11.25rem;
  }
}

@media screen and (max-width: 30rem) {
  .game-of-thrones__candidate {
    width: 50%;
    height: 9rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Results page
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.game-of-thrones__results-page {
  width: 100%;
}

.game-of-thrones__results-block {
  width: 100%;
  border-spacing: 0;
  padding: 1rem;
}

.game-of-thrones__results-block td,
.game-of-thrones__results-block tr,
.game-of-thrones__results-block th {
  padding: 0;
  margin: 0;
  border: none;
}

.game-of-thrones__results-block tr {
  height: 4rem;
}

.game-of-thrones__results-block tr.game-of-thrones__results-header {
  height: 3rem;
}

.game-of-thrones__results-header-item .lblb-block-title {
  position: absolute;
  transform: translate(-50%, 0);
  margin-left: 2.5rem;
}

td.game-of-thrones__candidate-result-id {
  width: 8rem;
}

.game-of-thrones__candidate-result-id-photo {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 10rem;
  background-position: center;
  background-size: cover;
}

.game-of-thrones__candidate-result-id-name {
  display: inline-block;
  margin-left: .25rem;
  width: 3rem;
}

.game-of-thrones__candidate-result-id-name .lblb-slug {
  background: #FFFFFF;
  color: #212121;
  padding: 0;
  transform: translateY(-.25rem);
}

.game-of-thrones__heatmap-cell {
  background-color: #212121;
  position: relative;
  cursor: pointer;
}

.game-of-thrones__heatmap-cell_empty {
  background-color: white;
  background-image: url('/empty-cell.png');
  background-position: center;
  background-size: cover;
  position: relative;
  cursor: default;
}

.game-of-thrones__heatmap-cell__tooltip {
  opacity: 0;
  z-index: 10;
  position: absolute;
  background: white;
  border: 2px solid #888;
  padding: .25rem .5rem;
  border-radius: .25rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.game-of-thrones__heatmap-cell:hover .game-of-thrones__heatmap-cell__tooltip {
  opacity: 1;
}

.game-of-thrones__heatmap-cell_empty .game-of-thrones__heatmap-cell__tooltip {
  display: none;
}